// Colors

$mk_color_appsmenu_text: #222529; //changed navbar text color
$mk_color_appbar_text: #222529; //changed sidebar text color
$mk_color_appbar_active: #2F86F9; //changed sidebar active app bg color
$mk_color_appbar_background: $o-gray-100; //changed sidebar bg color

// Override

$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;